/**
 * Containers
 *
 * Requires:
 * - Starter-Theme https://github.com/Shopify/starter-theme
 *
 * Accepts:
 * - $max-width: {String} Grid width variable (list found in variables.scss)
 * - $gutter: {String} rem, px, or other unit value/s
 *
 * Usage:
 * - Inlcude in your theme.scss:
 *     @import '~@elkfox/shopify-theme/styles/grid.scss';
 *
 * .selector {
 *   @include container($grid-large);
 * }
 */

 @mixin container($max-width: 100%, $gutter: 0 2rem) {
   margin: 0 auto;
   padding: $gutter;
   width: 100%;
   max-width: $max-width;
 }
